.error-404 { 
    text-align: center; 
    display: flex;
    flex-flow: column;
    /* height: 220px; */
    /* padding-bottom: 6%; */
    padding: 5%;
   }
  .error-404 h1{ 
    font-size:10em;
    padding-bottom: 5%; 
  }