<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="mb-3">
        <label for="nameinput1" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="nameinput1"
          [(ngModel)]="name"
        />
      </div>
      <div class="mb-3">
        <label for="genreinput1" class="form-label">Genre</label>
        <input
          type="text"
          class="form-control"
          id="genreinput1"
          [(ngModel)]="genre"
        />
      </div>
      <div class="mb-3">
        <label for="creatorinput1" class="form-label">Creator</label>
        <input
          type="text"
          class="form-control"
          id="creatorinput1"
          [(ngModel)]="creator"
        />
      </div>
      <div class="mb-3">
        <label for="ttinput1" class="form-label">Total Time</label>
        <input
          type="number"
          class="form-control"
          id="ttinput1"
          [(ngModel)]="totalTime"
        />
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio1"
          value="Book"
          [(ngModel)]="creatorType"
        />
        <label class="form-check-label" for="inlineRadio1">Book</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio2"
          value="Song"
          [(ngModel)]="creatorType"
        />
        <label class="form-check-label" for="inlineRadio2">Song</label>
      </div>
      <div class="mb-3">
        <button type="button" class="btn btn-primary" (click)="addedItem()">
          Add
        </button>
      </div>
    </div>
  </div>
</div>
